// @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
// @import url('https://fonts.googleapis.com/css?family=Lato');
// @import url('https://fonts.googleapis.com/css?family=Roboto');
html {
//   font-family: 'Titillium Web', sans-serif;
  // font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  user-select: none;
}

input {
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.throwdown-container {
  // this allows us to underlay .background-target for catching events 
  position: relative;
}

th {
  font-weight: normal;
  min-width: 100px;
  text-align: right;
  padding: 5px 5px 2px  5px;
}

td {
  min-width: 100px;
  text-align: right;
  vertical-align: bottom;
  padding: 5px 5px 2px 5px;
}

.header {
  background: #ccc;
  padding: 0;
}

.playback-progress-container {
  padding: 0;
}

.playback-progress-progress {
  height: 4px;
}

.next-tempo {
  width: 70px;
  text-align: right;
}

.deck-row-drophint {
  background: transparent;
}

.deck-row-drophint td {
  padding: 0;
  height: 30px;
}

.deck-row-drophint.deck-row-drophint-highlighted {
  background: #eee;
}


.background-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-target.background-target-highlighted {
  background: #eee;
}