// @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
// @import url('https://fonts.googleapis.com/css?family=Lato');
// @import url('https://fonts.googleapis.com/css?family=Roboto');
html {
//   font-family: 'Titillium Web', sans-serif;
  // font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {

}

th {
  font-weight: normal;
  min-width: 100px;
  text-align: right;
  padding: 0.5em;
}

.header,
.playback-progress-container {
  background: #ccc;
}

.playback-progress-progress {
  background: #888;
  height: 4px;
}