@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
  font-family: 'Titillium Web', sans-serif;
}

body {

}

th {
  font-weight: normal;
  min-width: 100px;
  text-align: right;
  padding: 0.5em;
}

.header {
  background: #ccc;
}