<div>All the action is in the console...</div>
<pre>
// start
transport.start();
// set BPM
transport.setBeatsPerMinute(100);
// set patterns to play
transport.setPattern({ beat: window.beat, bassline: window.bassline, lead: window.lead });
// enable/disable patterns
window.beat.triggered = true;
window.beat.triggered = false;
// stop
transport.stop();
</pre>

<div>Import a midi file. </div>
<input type="file" onchange="onFileSelected(this)" accept="audio/x-midi" />
<pre>
// Then you have a new pattern to trigger
transport.setPattern({ whatevs: window.imported });
window.imported.triggered = true;
</pre>
