@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import "./utility.scss";

@import "~foundation-sites/scss/foundation";

// override these so our toolbar has the icons hard up against the corners
// might be better to simply override the gutter on the toolbar specifically
$grid-column-gutter: (
   small: 0px,
   medium: 0px,
);

// import foundation with flex grid (our css assumes this!)
@include foundation-everything(true);


$button-background-colour: #f4f2f2;
$toolbar-background-colour: #343232;


body {
   font-family: 'Roboto Mono', monospace;
   font-weight: 400;
   font-size: 24px;
   color: white;
   background-color: $button-background-colour;
}

.toolbar {
	font-size: 150%;
   color: white;
   background-color: $toolbar-background-colour;
}

.popover {
   @include dropdown-container;

   visibility: visible;
   font-size: 100%;
   background-color: $toolbar-background-colour;

   label {
     color: white;
   }
}

#patternLines .patternRow {
   border-top: 1px solid #eee;
   min-height: 100px;
}

#patternLines .pattern {
   width: 80px;
   height: 80px;
   margin: 10px 0 10px 10px;
   border: 2px solid transparent;
}

.patternLine-addPattern {
   width: 36px;
   text-align: center;
   border-radius: 123px;
   background-color: #b1aaaa;
   color: white;
   font-weight: bold;
   margin-left: 30px;
}

.patternLine-channel {
   width: 36px;
   text-align: center;
   border-radius: 123px;
   background-color: #b1aaaa;
   color: white;
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
   margin-right: 8px;
}

